# Gradle
.gradle/
build/

# Local Configuration (sdk path, etc)
local.properties
keystore.properties

# Keystore
*.jks
*.keystore

# IntelliJ
.idea/
.kotlin/
*.iml

# Android Studio
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
output.json

# Fleet
.fleet/

# Log/OS
*.log

# Mac OS
.DS_Store

# Project Files